@media (max-width: 768px) { 
    .row_record_reviews{
        .height_60mb{
            height: 60px;
        }
        .mt0mb{
            margin-top: 0 !important;
        }
    }
    .row_top{
        .slider{
            .owl--text{
                h2 {
                    font-size: x-large;
                    
                 }
                 p {
                     font-size: x-large;
                 }
            }
            .owl-carousel{
                .owl-dots {
                    position: absolute;
                    bottom: 10px;
                    z-index: 1111;
                    height: 10px !important;
                }
            }
        }
    }
    main {
        .row2 {
            background: #f3f3f3;
            .images_list{
                .big_img{
                    list-style: none;
                    padding-left: 0px;
                    display: block !important;
                    li{
                        width: 100% !important;
                        height: 500px;
                        overflow: hidden;
                        filter: grayscale(0%) !important;
                        &:nth-child(1){
                            margin-right: 0px !important;
                            margin-bottom: 10px;
                            .conten_item {
                                left: 0%;
                            }
                            .watermark_title{
                                left: -110px !important;
                            }
                        }
                        &:nth-child(2){
                            margin-left: 0px !important;
                            .conten_item{
                                right: 0%;
                            }
                            .watermark_title{
                                left: -100px;
                            }
                        }
                        .watermark_title {
                            color: #fff;
                        }
                        .conten_item {
                            margin-top: 10px;
                            opacity: 1;
                            top: 0;
                            overflow: auto;
                            .inner_conten {
                                width: 60%;
                                height: 100%;
                            }
                        }
                    }
                }
                 .list_smail_img{
                    .anbum_list{
                        li{
                            .caption {
                                opacity: 1;
                                overflow: auto;
                                bottom: 0;
                                padding: 10px 20px;
                            }
                            &::before {
                                transition: all .8s;
                                background: rgba(0, 0, 0, 0.8);
                            }
                        }
                    }
                 }   
            }
        }
        &#news{
            .conten{
                .media{
                    .media-object{
                        width: 100%;
                    }
                }
            }
        }
        &#detail_news{
            .news_related,.news_new{
                .media{
                    .media-object{
                        width: 150px;
                    }
                }
            }
        }
        .row5{
            .form_make{
                .radio_item{
                    .radio {
                        width: 30%;
                        margin: 0;
                    }
                }
            }
        }
    }
    footer{
        .row2-footer{
            line-height:30px;
            .form_registered{
                ul{
                    li{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .topic-body-introduce {
        .mvs{
            padding: 10px 20px !important;
            margin-bottom: 20px;
        }
        .topic-body-row6{
            img{
                width: 100%;
            }
        }
    }
}
// sữa cái này
@media (max-width: 375px) {
    .img-text-logo-item {
        width: 180px !important;
        left: 45px !important;
        transition: all .5s;
    }
    .navbar-brand {
        padding: 10px 10px !important;
        img{
            width: 70px;
            height: 70px;
        }
    }
    .navbar-fixed-top{
        .img-text-logo-item {
            width: 190px !important;
            left: 0 !important;
            transition: all .5s;
        }
    }
}
@media (min-width: 991px) and (max-width: 1280px) {
    .page-container{
        .the-banner{
            height: 82%;
        }
    }
}
@media (min-width: 415px) and (max-width: 786px) {
    header{
        min-height: 740px !important;
        .page-container{
            .the-banner{
                height: 470px;
                .title_inner{
                    font-size: 2.2em !important;
                }
            }
            .the-thub_img_title{
                background: #fff;
                ul{
                    padding: 0px 0;
                    margin: 1px;
                    li {
                        width: 49.5%;
                        height: 130px;
                        overflow: hidden;
                        margin: 1px auto;
                        .image_inner{
                            height: 100%;
                            align-items: inherit;
                        }
                    }
                }
            }
            .down{
                bottom: 15px !important;
            }
        }
    }
}
@media (min-width: 376px) and (max-width: 414px) {
    header{
        min-height: 740px !important;
        .page-container{
            .the-banner{
                height: 470px;
                .title_inner{
                    font-size: 2.2em !important;
                }
            }
            .the-thub_img_title{
                background: #fff;
                ul{
                    padding: 0px 0;
                    margin: 1px;
                    li {
                        width: 49.5%;
                        height: 130px;
                        overflow: hidden;
                        margin: 1px auto;
                        .image_inner{
                            height: 100%;
                            align-items: inherit;
                        }
                    }
                }
            }
            .down{
                bottom: 15px !important;
            }
        }
    }
}
@media (max-width: 375px) {
    header{
        min-height: 670px !important;
        .page-container{
            .the-banner{
                height: 400px;
                .title_inner{
                    font-size: 2.2em !important;
                }
            }
            .the-thub_img_title{
                background: #fff;
                ul{
                    padding: 0px 0;
                    margin: 1px;
                    li {
                        width:49.4%;
                        height: 130px;
                        overflow: hidden;
                        margin: 1px auto;
                        .image_inner{
                            height: 100%;
                            align-items: inherit;
                        }
                    }
                }
            }
            .down{
                bottom: 15px !important;
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    footer{
        .row2-footer{
            line-height: 40px !important;
        }
    }

}
@media (min-width: 990px) and (max-width: 1400px) {
    .page-container{
        .the-banner{
            .title_inner{
            }
        }
        .the-thub_img_title{
            ul{
                li {
                    width: 24%;
                    .image_inner{
                    }
                }
            }
        }
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .collapse {
        width: 93% !important;
        .navbar-nav {
            // margin-top: 37px !important;
            li{
                a {
                    padding: 15px 0 !important;
                }
                &.dropdown_hover{
                    .dropdown-menu{
                        li{
                            a{
                                padding-left: 15px !important;
                                padding-right: 15px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .container{
        width: 100%;
    }
    .navbar-header {
        width: 35px !important;
    }
}
@media (min-width: 1200px){
}
// ---------------------------------------
.bg:before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(22,27,45,.33);
    z-index: 100;
    transition: all .6s;
}
// --------------------------------------
@media (min-width: 990px) {
    .owl--text{
        h2 {
           font-size: 50px;
           
        }
        p {
            font-size: 30px;
        }
    }
    .navbar-header{
        width: 80px;
    }
    .collapse{
        width: 94%;
        .navbar-nav {
            display: table;
            margin-top: 25px;
            transition: all .5s;
            width: 100%;
            text-align: center;
            li {
                display: table-cell;
                float: none;
            }
            
        }
    }
}
.navbar-toggle-item {
    position: absolute;
    right: 15px;
    height: 100%;
    width: 45px;
}

.navbar-toggle{
    margin: 0 !important;
    transition: all .5s;
}
.navbar-fixed-top{
    .navbar-toggle{
        transition: all .5s;
    }
}
.img-text-logo-item{
    width: 191px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
#grey_back {
    // display:none;
    background-color: #000000;
    opacity: 0.7;
    width: 0;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: all .5s;
  }
  
@media (max-width: 990px) {
    .row_top .navbar-fixed-top .navbar-nav li a {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .main_menu {
        .navbar-header{
            float: none;
            .navbar-brand {
                color: #fff;
                text-shadow:none;
            }
        }
        .navbar-toggle {
            display: block;
        }
        .navbar {
            .collapse,.collapsing{
                border: 0;
                display: block;
            }
            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            }
            .collapse.in{
                .navbar-nav{
                    // left: 0px;
                    // transition: all .5s;
                }
            }
            .navbar-nav{
                overflow: auto;
                background: #00162e;
                position: fixed;
                top: 0;
                bottom: 0;
                margin: 0;
                left: -300px;
                transition: all .5s;
                width: 270px;
                z-index: 101;
                li{
                    float: left;
                    width: 100%;
                    transition: all .5s;
                    &.active,&:hover,&:focus {
                        a {
                            color: #52b864 !important;
                            background: transparent !important;
                            border: 1px solid transparent !important;
                            border-radius: 0 !important;
                        }
                    }
                    &.dropdown_hover{
                        transition: all .5s;
                        .dropdown-menu{
                            height: 0 !important;
                            position: static;
                            opacity: 0 !important;
                            overflow: hidden;
                            display: block;
                            transition: all .5s;
                            &.show_menusub{
                                height: 100% !important;
                                opacity: 1 !important;
                                overflow: visible !important;
                                transition: all .5s;
                            }
                            li{
                                text-align: left;
                                a{
                                    padding-left: 30px !important;
                                }
                            }
                        }
                    }
                    a {
                        font-size: 15px;
                        text-transform: uppercase;
                        text-shadow:none;
                        position: relative;
                        &:hover,&:focus{
                            background-color: transparent;
                        }
                    }
                    .click_show_submenu {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 30px;
                        text-align: center;
                        z-index: 999;
                    }
                }
            }
            
        }
        .navbar-fixed-top{
            .navbar-nav{
                margin-top: 0px !important; 
                transition: all 0.5s;
            }
        }
    }
}