.dropdown_hover{
    .click_show_submenu{
        display: none ;
    }
}
.bg:before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(22,27,45,.33);
    z-index: 100;
    transition: all .6s;
}
.navbar-toggle-item {
    position: absolute;
    right: 15px;
    height: 100%;
    width: 45px;
}
.navbar-toggle{
    margin: 0 !important;
    transition: all .5s;
}
.navbar-fixed-top{
    .navbar-toggle{
        transition: all .5s;
    }
}
.img-text-logo-item{
    width: 191px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}
#grey_back {
    // display:none;
    background-color: #000000;
    opacity: 0.7;
    width: 0;
    height: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: all .5s;
  }
.news-workshop:last-child {
    display: none;
}
@media (min-width: 991px) {
    .navbar-header{
        width: 80px;
    }
    .collapse{
        width: 94%;
        .navbar-nav {
            display: table;
            margin-top: 25px;
            transition: all .5s;
            width: 100%;
            text-align: center;
            li {
                display: table-cell;
                float: none;
            }
            
        }
    }
}

// /////////////////////////////////
@media (max-width:1280px){
    .navbar{
        .navbar-collapse{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .page-container{
        .the-banner {
            overflow: hidden;
            height: 84%;
            position: relative;
        }
    }
}

@media (max-width: 1024px) {
    .row_top .main_menu .navbar .collapse .navbar-nav li a{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .collapse {
        width: 93%;
    }
    .row_top .main_menu .navbar-brand{
        img{
            width: 65px;
            height: 100%
        }
    }
    .row_top .navbar-fixed-top .navbar-nav{
        margin-top: 20px !important;
    }
}
@media screen and (max-width: 991px) {
    
    .topic-body{
        img,iframe{
            width: 100%;
        }
        
    }
    .owl--text{
        .table-inner{
            font-size: 1.4em
        }
    }
    .row_top .navbar-fixed-top .navbar-nav li a {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .main_menu {
        .navbar-header{
            float: none;
            .navbar-brand {
                color: #fff;
                text-shadow:none;
            }
        }
        .navbar-toggle {
            display: block;
        }
        .navbar {
            .collapse,.collapsing{
                border: 0;
                display: block;
            }
            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            }
            .collapse.in{
                .navbar-nav{
                    // left: 0px;
                    // transition: all .5s;
                }
            }
            .navbar-nav{
                overflow: auto;
                background: #00162e;
                position: fixed;
                top: 0;
                bottom: 0;
                margin: 0;
                left: -300px;
                transition: all .5s;
                width: 270px;
                z-index: 101;
                height: 100%;
                li{
                    float: left;
                    width: 100%;
                    transition: all .5s;
                    &.active,&:hover,&:focus {
                        a {
                            color: #52b864 !important;
                            background: transparent !important;
                            border-radius: 0 !important;
                        }
                    }
                    &.dropdown_hover{
                        transition: all .5s;
                        .dropdown-menu{
                            height: 0 !important;
                            position: static;
                            opacity: 0 !important;
                            overflow: hidden;
                            display: block;
                            transition: all .5s;
                            &.show_menusub{
                                height: 100% !important;
                                opacity: 1 !important;
                                overflow: visible !important;
                                transition: all .5s;
                            }
                            li{
                                text-align: left;
                                a{
                                    padding-left: 30px !important;
                                }
                            }
                        }
                    }
                    a {
                        font-size: 15px;
                        text-transform: uppercase;
                        text-shadow:none;
                        position: relative;
                        &:hover,&:focus{
                            background-color: transparent;
                        }
                    }
                    .click_show_submenu {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 30px;
                        text-align: center;
                        z-index: 999;
                    }
                }
            }
            
        }
        .navbar-fixed-top{
            .navbar-nav{
                margin-top: 0px !important; 
                transition: all 0.5s;
            }
        }
    }
    .dropdown_hover{
        .caret{
            display: none;
        }
        .click_show_submenu{
            display: block !important;
        }
    }
}
@media (max-width: 768px) {
    .compare_check_item{
        .compare_check{
            margin: 20px 0px;
        }
        .title_compare_check a{
            width: 100%;
        }
    }
    .row_top .main_menu .navbar-header .navbar-brand{
        padding-left: 0;
        img{
            width: 70px;
            height: 70px;
        }
    }
    .height_60mb{
        height: 60px;
    }
    .hidden-1024{
        display: none;
    }
    .news-workshop:last-child {
        display: block;
    }
    // .mh100pt{
    //     min-height: 570px   ;
    //     overflow: hidden;
    // }
    .title-header{
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
    main{
        .row2{
            .images_list{
                .conten_item .inner_conten{
                    width: 60% !important;
                }
                .big_img li{
                    .watermark_title{
                        position: absolute;
                        transform: rotate(-90deg);
                        font-size: 68px;
                        left: -95px;
                        bottom: 100px;
                        font-weight: bold;
                        color: #fff;
                        transition: all .5s ease;
                    }
                    &:hover {
                        width: 160%;
                    }
                    &:nth-child(1){
                        .watermark_title {
                            left: -105px;
                            bottom: 115px;
                        }
                    }
                }
            }
        }
    }
    .page-container{
        .the-thub_img_title{
            ul{
                li{
                    width: 28%;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .page-container .the-banner {
        overflow: hidden;
        height: 380px;
        position: relative;
    }
    .news_workshop .owl-carousel .owl-dots{
        display: none;
    }
}
@media (max-width: 414px) {
    .topic-body-introduce .mvs {
        padding: 20px 28px 0px;
        min-height: 330px;
    }
    .divfixmobi{
        position: relative; height: 500px;
        &.divfixmobiCCDC{
            height: 575px;
        }
    }
    .mh100pt{
        min-height: auto;   
    }
    #owl-partner {
        position: relative;
    }
    .page-container .the-banner .title .title_inner{
        font-size: 2em;
    }
    .images-introduce-canada-privilege{
        display: none;
    }
    .introduce .main_menu .navbar {
        background: #252525;
    }
    .lifein{
        .media{
            .pull-left{
                display: none;
            }
        }
    }
    .compare_check_box{
        padding: 20px 0;
        .compare_check_box_inner{
            a{
                margin: 5px 0px
            }
        }
    }
    .page-container{
        .the-thub_img_title{
            ul{
                li{
                    width: 47%;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .page-container .the-banner {
        overflow: hidden;
        height: 320px !important;
        position: relative;
    }
    // .mh100pt {
    //     min-height: 680px;
    // }
    .row_top .down{
        bottom: 50px;
    }
    .topic-body-canada{
        img{
            width: 100%;
        }
    }
    .table_color_inner{
        width: 100%;
    }
    .introduce_hieght{
        height: 300px;
        &.mh100pt{
            min-height: auto;    height: 390px;
        }
        .the-banner{
            height: 100% !important;
        }
    }
    #owl-partner {
        .owl-prev,.owl-next {
            position:  absolute;
            top: 30%;
            font-size:  40px;
            color:  #fff;
        }
        .owl-next-item {
            width: 40px;
            height: 40px;
        }
    }
    #owl-partner .owl-slide .owl_news_item{
        padding: 15px 20px;
    }
}
@media (max-width: 375px) {
    .page-container .the-banner {
        overflow: hidden;
        height: 320px !important;
        position: relative;
    }
}
// ---------------------------------------

// --------------------------------------
