<div class="introduce-canada-row1">
	<div class="row flex_center">
		<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
			<div class="introduce_main">
				<h3 class=" color-367a3d text-uppercase"><strong>CANADA - một m&ocirc;i trường sống l&yacute; tưởng&nbsp;</strong></h3>
				<p><strong>" Canada - Đất nước c&oacute; diện t&iacute;ch rộng lớn đứng thứ 2 thế giới nằm ở khu vực Bắc Mỹ, xếp hạng thứ 2 trong số những quốc gia đ&aacute;ng sống nhất thế giới (số liệu năm 2017 - theo US News &amp; World Report). Kh&ocirc;ng chỉ c&oacute; cảnh quan v&agrave; m&ocirc;i trường sống tuyệt vời, Canada c&ograve;n sở hữu một nền văn h&oacute;a đa dạng, c&aacute;c ch&iacute;nh s&aacute;ch ph&uacute;c lợi tốt nhất d&agrave;nh cho c&ocirc;ng d&acirc;n Canada v&agrave; c&aacute;c thường tr&uacute; nh&acirc;n đến từ nhiều quốc gia kh&aacute;c nhau kh&ocirc;ng ph&acirc;n biệt chủng tộc, t&ocirc;n gi&aacute;o, ch&iacute;nh trị&hellip;Ch&iacute;nh v&igrave; thế đất nước l&aacute; phong đ&atilde;, đang v&agrave; sẽ l&agrave; địa điểm hấp dẫn được nhiều c&ocirc;ng d&acirc;n quốc tế lựa chọn l&agrave; nơi định cư v&agrave; khởi nghiệp cho gia đ&igrave;nh m&igrave;nh. "</strong></p>
			</div>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
			<div class="bg_before"><img src="/public/uploads/Category/canada.png" alt="" width="100%" /></div>
		</div>
	</div>
</div>
<div class="pt40 pb40">
	<div class="container">
		<div>
			<h1 class="color-367a3d text-center mb40 fs25px text-uppercase"><strong>cuộc sống tại canada</strong></h1>
		</div>
		<div class="row flex_wrap">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="lifein mb20">
					<div class="media"><a class="pull-left" href="#"> <span class="icon_lifein"> <img src="/public/uploads/Category/iconEdu.png" alt="" width="100%" /> </span> </a>
						<div class="media-body">
							<div class="introduce-canada-row1">
								<h3 class="mt0 fs20px text-uppercase"><strong>gi&aacute;o dục</strong></h3>
								<ul>
									<li>Miễn ph&iacute; gi&aacute;o dục từ Mẫu gi&aacute;o đến lớp 12</li>
									<li>Nhiều trường học tại Canada c&ograve;n cung cấp bữa ăn nhẹ v&agrave; miễn ph&iacute; s&aacute;ch vở, dụng cụ học tập khi trẻ đến trường</li>
									<li>Ch&iacute;nh phủ sẽ trợ cấp hoặc cho sinh vi&ecirc;n vay tiền hỗ trợ gi&aacute;o dục trong trường hợp sinh vi&ecirc;n đ&oacute; kh&ocirc;ng c&oacute; thu nhập.&gt;</li>
									<li>Cơ hội nhận c&aacute;c học bổng tại trường</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="lifein mb20">
					<div class="media"><a class="pull-left" href="#"> <span class="icon_lifein"> <img src="/public/uploads/Category/iconMedical.png" alt="" width="100%" /> </span> </a>
						<div class="media-body">
							<div class="introduce-canada-row1">
								<h3 class="mt0 fs20px text-uppercase"><strong>y tế</strong></h3>
								<ul>
									<li>Hưởng dịch vụ chăm s&oacute;c sức khỏe miễn ph&iacute; như c&aacute;c chi ph&iacute; điều trị v&agrave; kh&aacute;m chữa bệnh.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="lifein mb20">
					<div class="media"><a class="pull-left" href="#"> <span class="icon_lifein"> <img src="/public/uploads/Category/iconfinance.png" alt="" width="100%" /> </span> </a>
						<div class="media-body">
							<div class="introduce-canada-row1">
								<h3 class="mt0 fs20px"><strong>KINH TẾ</strong></h3>
								<p>Canada lu&ocirc;n ch&agrave;o đ&oacute;n c&aacute;c nh&agrave; đầu tư nước ngo&agrave;i đến kinh doanh v&agrave; cung cấp nhiều lợi thế cạnh tranh:</p>
								<ul>
									<li>Theo nguồn th&ocirc;ng tin từ 2 tạp ch&iacute; Forbes and Bloomberg th&igrave; Canada l&agrave; quốc gia tốt nhất trong G-20 để thực hiện c&aacute;c dự &aacute;n kinh doanh v&agrave; l&agrave;m kinh doanh. Canada dẫn đầu tất cả c&aacute;c nước trong nh&oacute;m G7 về kỷ lục tăng trưởng kinh tế từ năm 2006 đến năm 2015.</li>
									<li>Khi CETA c&oacute; hiệu lực, c&aacute;c nh&agrave; đầu tư quốc tế tại Canada sẽ đảm bảo được ưu ti&ecirc;n tiếp cận cả NAFTA v&agrave; EU &ndash; một thị trường s&ocirc;i động c&oacute; sự kết hợp GDP gần 37 ngh&igrave;n tỷ dolar Mỹ, hoặc một nửa sản lượng h&agrave;ng h&oacute;a v&agrave; dịch vụ của thế&nbsp;giới.</li>
									<li>Khi CETA c&oacute; hiệu lực, c&aacute;c nh&agrave; đầu tư quốc tế tại Canada sẽ đảm bảo được ưu ti&ecirc;n tiếp cận cả NAFTA v&agrave; EU &ndash; một thị trường s&ocirc;i động c&oacute; sự kết hợp GDP gần 37 ngh&igrave;n tỷ dolar Mỹ, hoặc một nửa sản lượng h&agrave;ng h&oacute;a v&agrave; dịch vụ của thế&nbsp;giới.</li>
									<li>Lực lượng lao động của Canada được đ&agrave;o tạo cao nhất trong những th&agrave;nh vi&ecirc;n OECD với một nửa d&acirc;n số trong độ tuổi lao động c&oacute; tr&igrave;nh độ đại học.</li>
									<li>Tổng chi ph&iacute; thuế doanh nghiệp ở Canada t&iacute;nh đến thời điểm hiện tại l&agrave; thấp nhất trong nh&oacute;m G-7 v&agrave; thấp hơn so với Hoa Kỳ.</li>
									<li>Canada cung cấp c&aacute;c khoản chi ph&iacute; kinh doanh thấp nhất trong nh&oacute;m G-7 cho c&aacute;c lĩnh vực chuy&ecirc;n s&acirc;u&nbsp;Nghi&ecirc;n Cứu v&agrave; Ph&aacute;t Triển&nbsp;với chi ph&iacute; 27.7% mang lại nhiều lợi thế hơn Hoa Kỳ.</li>
									<li>Diễn Đ&agrave;n Kinh Thế Giới đ&atilde; tuy&ecirc;n bố rằng hệ thống ng&acirc;n h&agrave;ng Canada l&agrave; ho&agrave;n thiện nhất thế giới trong 8 năm vừa qua.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="lifein mb20">
					<div class="media"><a class="pull-left" href="#"> <span class="icon_lifein"> <img src="/public/uploads/Category/iconEnviroment.png" alt="" width="100%" /> </span> </a>
						<div class="media-body">
							<div class="introduce-canada-row1">
								<h3 class="mt0 fs20px text-uppercase"><strong>Ch&iacute;nh s&aacute;ch người lao động</strong></h3>
								<ul>
									<li>Mức lương sẽ phụ thuộc v&agrave;o từng ng&agrave;nh nghề v&agrave; tỉnh bang m&agrave; c&aacute;c đương đơn lựa chọn</li>
									<li>Mỗi c&ocirc;ng d&acirc;n khi chưa t&igrave;m được việc l&agrave;m sẽ được trợ cấp l&ecirc;n đến 12 th&aacute;ng. Trong trường hợp thai sản, cha v&agrave; mẹ c&oacute; thể thay nhau nghỉ để chăm s&oacute;c trẻ trong thời gian hậu sinh (thời gian nghỉ nhận khoản trợ cấp n&agrave;y cũng l&ecirc;n đến 12 th&aacute;ng</li>
									<li>Tất cả c&ocirc;ng d&acirc;n Canada đều được nhận tiền hưu tr&iacute; v&agrave; an sinh từ ch&iacute;nh phủ Canada</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>