<div class="container mt40 mb40">
	<div class="introduce-canada-row1">
		<div class="row flex_center">
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<div class="introduce_main">
					<h3 class="color-367a3d text-uppercase">Đầu tư v&agrave;o ph&aacute;t triển gi&aacute;o dục - nhận thẻ Xanh định cư</h3>
					<p><strong>&ldquo; Một trong những dự &aacute;n EB-5 th&agrave;nh c&ocirc;ng được gi&aacute;m s&aacute;t bởi Ch&iacute;nh Phủ Mỹ, thu h&uacute;t rất nhiều nh&agrave; đầu tư tham gia dự &aacute;n ph&aacute;t triển hệ thống trường b&aacute;n c&ocirc;ng Charter School tại bang Florida. &rdquo;</strong></p>
				</div>
			</div>
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
				<div class="bg_before"><img src="/public/uploads/Category/truonghoc.jpg" alt="" width="100%" /></div>
			</div>
		</div>
	</div>
</div>
<div class="benefit investment mt40" style="background-image: url('/public/uploads/Category/My_loiich.jpg');">
	<div class="container">
		<h1 class="color_fff text-center mb40 pela fs25px text-uppercase"><strong>Đầu tư an to&agrave;n</strong></h1>
		<div class="row flex_wrap">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb10">
				<div class="sub_finance">
					<div class="title-header text-left">
						<h3 class="mb20 fs20px text-uppercase">Tổng quan t&agrave;i ch&iacute;nh</h3>
					</div>
					<div class="sub_finance_item">
						<ul class="">
							<li class="mt10">Tổng chi ph&iacute;: <strong>$21,325,704 USD</strong></li>
							<li class="mt10">Vay EB-5: <strong>$14 triệu USD</strong></li>
							<li class="mt10">Tỷ lệ đầu tư: <strong>65%</strong></li>
							<li class="mt10">Việc l&agrave;m theo b&aacute;o c&aacute;o kinh tế: <strong><br />347 Việc l&agrave;m (vượt 123.9%)</strong></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="row flex_wrap">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/city-hall.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<h4 class="media-heading color_fff">&nbsp;</h4>
									<p class="color_fff">Ch&iacute;nh phủ gi&aacute;m s&aacute;t v&agrave; hỗ trợ t&agrave;i ch&iacute;nh 100%</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/graduated-student.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<h4 class="media-heading color_fff">&nbsp;</h4>
									<p class="color_fff">Đ&atilde; ho&agrave;n tất 08/2016 v&agrave; đ&atilde; tuyển sinh</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/classroom.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<h4 class="media-heading color_fff">&nbsp;</h4>
									<p class="color_fff">Standard &amp; Poor, Moody &amp; Fitch đ&aacute;nh gi&aacute; cao v&agrave; kết luận về cơ cấu t&agrave;i ch&iacute;nh trường b&aacute;n c&ocirc;ng &ldquo;Sự t&iacute;n nhiệm cao, cơ cấu t&agrave;i ch&iacute;nh chắc chắn</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/bank.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<h4 class="media-heading color_fff">&nbsp;</h4>
									<p class="color_fff">Kế hoạch ho&agrave;n vốn r&otilde; r&agrave;ng: Chủ dự &aacute;n sẽ t&aacute;i cấp vốn từ ng&acirc;n h&agrave;ng để trả lại cho nh&agrave; đầu tư EB-5 để ho&agrave;n vốn đầu ti&ecirc;n</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/tasks.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<h4 class="media-heading color_fff">&nbsp;</h4>
									<p class="color_fff">H&agrave;ng triệu học sinh trong danh s&aacute;ch chờ mỗi năm</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="topic-body-row2 pt40 pb40">
	<div class="topic-body-item1 mb40">
		<div class="container">
			<h1 class="color-367a3d text-center mb40 pela fs25px text-uppercase"><strong>An to&agrave;n cho thẻ xanh</strong></h1>
			<div class="body">
				<div class="row flex_wrap">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/classroom.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<p>Đơn xin gỡ bỏ điều kiện - I-829 của hệ thống Charter School Phase 1,2,3,4 đều đ&atilde; được chấp nhận.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="condition_item mb10">
							<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/user.png" alt="Image" width="100%" /> </a>
								<div class="media-body">
									<p>Việc l&agrave;m tạo ra vượt --% Ch&iacute;nh Phủ y&ecirc;u cầu</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="topic-body-item3 bg-f3f3f3 pt40 pb40">
		<div class="container">
			<div class="text-center">
        		<img src="/public/uploads/Category/florida-overseas-investment_logo.png" alt="" width="100%" style=" max-width: 50%; width: 100%; margin: auto; text-align: center; "/>
        	</div>
			<h1 class="color-367a3d text-center mb40 pela fs25px text-uppercase"><strong>Trung t&acirc;m V&ugrave;ng <br> Floria Overseas Investment Center</strong></h1>
			<div class="body">
				<ul class="pl0">
					<li>Một trong 8 trung t&acirc;m V&ugrave;ng th&agrave;nh c&ocirc;ng v&agrave; uy t&iacute;n</li>
					<li>Đ&atilde; ho&agrave;n 100% vốn cộng với l&atilde;i suất ưu đ&atilde;i $505,000 USD cho NĐT EB-5 phase 1</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="topic-body-item2 pt25 pb40 pt40">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="/public/uploads/Category/buildinghope-logo.png" alt="" width="100%" />
					<h3 class="mb20 fs20px color_fff">Nh&agrave; ph&aacute;t triển Building Hope</h3>
					<div class="body color_fff">
						<ul>
							<li>Kinh nghiệm x&acirc;y dựng v&agrave; ph&aacute;t triển hơn 219 trường b&aacute;n c&ocirc;ng, phục vụ hơn 7,700 sinh vi&ecirc;n</li>
							<li>Được xếp hạng A chất lượng giảng dạy bởi Bộ Gi&aacute;o Dục Mỹ</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="/public/uploads/Category/750px-Flag_of_Florida.png" alt="" width="100%" />
					<h3 class="mb20 fs20px color_fff">Ch&iacute;nh quyền Bang Floria</h3>
					<div class="body color_fff">
						<ul>
							<li>T&agrave;i trợ 100% chi ph&iacute; hoạt động nh&agrave; trường</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="project_location pt40 pb40">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><img src="/public/uploads/Category/Galileo-School-Expansion-phase-40.png" alt="" width="100%" /></div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="title-header">
					<h3 class="mb20 color-367a3d">Vị tr&iacute; dự &aacute;n</h3>
				</div>
				<div>
					<h4 class="fs20px"><strong><em>Điểm nội bật</em></strong></h4>
					<ul>
						<li>Tiểu bang lớn thứ tư của Hoa Kỳ c&oacute; d&acirc;n số (19.3 triệu)</li>
						<li>Được b&igrave;nh chọn l&agrave; những tiểu bang nổi tiếng nhất về du lich (2011)</li>
						<li>Thởi tiết ấm &aacute;p, nổi tiếng với c&aacute;ch b&atilde;i biển đẹp nhất thế giới</li>
						<li>Một trong bảy tiểu bang kh&ocirc;ng đ&aacute;nh thuế thu nhập c&aacute; nh&acirc;n.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>