<table class="table table_eb5 table_compare_right ">
    <thead>
        <tr>
            <th></th>
            <th class="colum-1">Trường bán công <br> Charter School Floria</th>
            <th class="colum-2">Tòa tháp căn hộ cao cấp <br> The Spiral - New York</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Tổng chi phí dự án</th>
            <td class="colum-1">$__ USD</td>
            <td class="colum-2">$3,640,000,000 USD</td>
        </tr>
        <tr>
            <th>Vốn chủ đầu tư</th>
            <td class="colum-1">--</td>
            <td class="colum-2">$1,820,306,549USD</td>
        </tr>
        <tr>
            <th>Vốn vay EB-5</th>
            <td class="colum-1">$__ USD</td>
            <td class="colum-2">$250,000,000 USD</td>
        </tr>
        <tr>
            <th>Vốn	EB5	/ nhà đầu tư</th>
            <td class="colum-1">$500,000 USD</td>
            <td class="colum-2">$500,000 USD</td>
        </tr>
        <tr>
            <th>Phí hành chính</th>
            <td class="colum-1">$60,000 USD</td>
            <td class="colum-2">$60,000 USD</td>
        </tr>
        <tr>
            <th>Tỉ lệ đầu tư của EB-5</th>
            <td class="colum-1">--%</td>
            <td class="colum-2">7%</td>
        </tr>
        <tr>
            <th>Thời hạn hoàn vốn</th>
            <td class="colum-1">5 năm</td>
            <td class="colum-2">5 năm <em>(với lựa chọn gia hạn 2 năm)</em></td>
        </tr>
        <tr>
            <th>Số lương việc làm đáp ứng yêu cầu EB-5</th>
            <td class="colum-1">__ việc làm <br>10 việc làm / nhà đầu tư</td>
            <td class="colum-2">5,000 việc làm <br> 10 việc làm / nhà đầu tư</td>
        </tr>
        <tr>
            <th>Số lượng việc làm theo báo cáo kinh tế</th>
            <td class="colum-1">__ việc làm (vượt __%) <br> __ việc làm / nhà đầu tư</td>
            <td class="colum-2">12,727 việc làm (vượt 150%) <br> 25 việc làm / nhà đầu tư</td>
        </tr>
        <tr>
            <th>Mức độ an toàn</th>
            <td class="colum-1">
                <ul>
                    <li>Hơn 25 dự án thành công</li>
                    <li>Đã đi vào hoạt động 08/2016</li>
                </ul>
            </td>
            <td class="colum-2">
                <ul>
                    <li>Tổ chức phát truyển dự án là chủ sử hữu đất</li>
                    <li>50% vốn từ chủ đầu tư</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Chiến lược hoàn vốn</th>
            <td class="colum-1">
                <ul>
                    <li>Nguồn thu nhập từ hợp đồng thuê dài hạn với đơn vị điều hành</li>
                    <li>Nhà đầu tư EB-5 giữ vị trí thế chấp đầu tiên</li>
                </ul>
            </td>
            <td class="colum-2">
                <ul>
                    <li>Nhà đầu tư EB-5 ở vị trí ưu tiên hoàn tiền thứ nhất</li>
                    <li>Trung tâm vùng CamAm có khả năng hoàn trả vốn EB-5 khi đến kì hạn cho nhà đầu tư đạt yêu cầu</li>
                    <li>Trung tâm vùng CamAm có khả năng tái đầu tư vào một dự án khác được phê duyệt bởi Bộ Di Trú Mỹ nếu nhà đầu tư không đáp ứng yêu cầu hoàn vốn sau 5 năm</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Chính phủ tham gia</th>
            <td class="colum-1">100% chi phí hoạt dộng được tài trợ bở chính quyền tiểu bang</td>
            <td class="colum-2">-</td>
        </tr>
        <tr>
            <th>Chính phủ ủng hộ</th>
            <td class="colum-1">Khu vực phát truyển trường học do chính quyền tiểu bang chỉ định</td>
            <td class="colum-2">Đơn I-526 đã được duyệt trước bởi <br>Bộ Di trú Mỹ vào 02/20156</td>
        </tr>
        <tr>
            <th>Trung tâm vùng EB-5 Quản lí đầu tư</th>
            <td class="colum-1">
                <ul>
                    <li><strong><u>FLORIDA OVERSEAS INVESTMENT CENTER</u></strong> là một trong 8 trung tâm Vùng thành công và uy tín</li>
                    <li>Đã hoàn vốn 101% cho dự án cũ</li>
                </ul>
            </td>
            <td class="colum-2">
                <ul>
                    <li><strong><u>CANAM ENTERPRISE</u></strong> hơn 30 năm kinh nghiệm quản lý đầu tư dự án EB-5</li>
                    <li>1,732 nhà đầu tư đã được hoàn vốn trong 32 dự án, tổng số tiền hoàn lên đến $871,500,000 USD</li>
                    <li>100% tỷ lện phê duyệt dự án giai đoạn I-526 và I-829</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>