<table class="table table_eb5 table_compare_right ">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th class="colum-1">
				<div class="img_flag"><span class="img_flag_item"> <img src="/public/uploads/Page/Compare/pei.png" alt="pei" width="70px" /></span></div>
			PEI</th>
			<th class="colum-2">
				<div class="img_flag"><span class="img_flag_item"><img src="/public/uploads/Page/Compare/newBrunswick.png" alt="newbrunswick" width="70px" /></span></div>
			NEW BRUSWICK</th>
			<th class="colum-3">
				<div class="img_flag"><span class="img_flag_item"><img src="/public/uploads/Page/Compare/Quebec.png" alt="quebec" width="70px" /></span></div>
			QU&Eacute;BEC</th>
			<th class="colum-4">
				<div class="img_flag"><span class="img_flag_item"><img src="/public/uploads/Page/Compare/dinh-cu-canada-cung-chuong-trinh-khoi-nghiep-start-up-visa.jpg" alt="" width="70px" /></span></div>
			START UP VISA</th>
			<th class="colum-5">
				<div class="img_flag"><span class="img_flag_item"><img src="/public/uploads/Page/Compare/Saskatchewan.png" alt="saskatchewan" width="70px" /></span></div>
			SASKTCHEWAN</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Thời gian</th>
			<td class="colum-1">19 - 21 Th&aacute;ng</td>
			<td class="colum-2">16 - 19 Th&aacute;ng</td>
			<td class="colum-3">2 - 3 Năm</td>
			<td class="colum-4">14 - 16 Th&aacute;ng</td>
			<td class="colum-5">22 - 26 Th&aacute;ng</td>
		</tr>
		<tr>
			<th>Chứng minh t&agrave;i sản</th>
			<td class="colum-1">Tr&ecirc;n $600,000 CAD</td>
			<td class="colum-2">Tr&ecirc;n $600,000 CAD <br /> **Chấp nhận t&agrave;i sản trao tặng**</td>
			<td class="colum-3">Tr&ecirc;n $1,600,000 CAD <br /> **Chấp nhận t&agrave;i sản trao tặng**</td>
			<td class="colum-4">Tr&ecirc;n $50,000 CAD <br /> **Chấp nhận t&agrave;i sản trao tặng**</td>
			<td class="colum-5">Tr&ecirc;n $1,000,000 CAD</td>
		</tr>
		<tr>
			<th>Đầu tư</th>
			<td class="colum-1">$200,000 CAD</td>
			<td class="colum-2">$100,000 CAD</td>
			<td class="colum-3">-</td>
			<td class="colum-4">-</td>
			<td class="colum-5">-</td>
		</tr>
		<tr>
			<th>K&yacute; Quỹ</th>
			<td class="colum-1">Tối thiểu $150,000 CAD</td>
			<td class="colum-2">Tối thiểu $250,000 CAD</td>
			<td class="colum-3">$200,000 CAD Kh&ocirc;ng ho&agrave;n lại <br /> Tr&aacute;i Phiếu $800,000 CAD Ho&agrave;n lại sau 5 năm kh&ocirc;ng l&atilde;i</td>
			<td class="colum-4">$250,000 CAD ++</td>
			<td class="colum-5">$200,000 - $300,000 CAD</td>
		</tr>
		<tr>
			<th>Tuổi t&aacute;c</th>
			<td class="colum-1">Dưới 59 Tuổi</td>
			<td class="colum-2">22 - 55 Tuổi</td>
			<td class="colum-3">Dưới 65 Tuổi</td>
			<td class="colum-4">Dưới 55 Tuổi</td>
			<td class="colum-5">21 - 54 Tuổi</td>
		</tr>
		<tr>
			<th>Ngoại ngữ</th>
			<td class="colum-1">IELT 4.0</td>
			<td class="colum-2">IELT 4.5 *</td>
			<td class="colum-3">-</td>
			<td class="colum-4">IELT 5.0</td>
			<td class="colum-5">-</td>
		</tr>
		<tr>
			<th>Tr&igrave;nh độ học vấn</th>
			<td class="colum-1">Tối thiểu bằng cao đẳng (2 năm trở l&ecirc;n)</td>
			<td class="colum-2">Tối thiểu bằng cao đẳng (2 năm trở l&ecirc;n)</td>
			<td class="colum-3">Tối thiểu cấp 3</td>
			<td class="colum-4">Tối thiểu cấp 3</td>
			<td class="colum-5">Tối thiểu cấp 3</td>
		</tr>
		<tr>
			<th>Kinh Nghiệm Quản L&yacute;</th>
			<td class="colum-1">Chủ doanh nghiệp 3 năm trong v&ograve;ng 5 năm gần nhất <br />Hoặc Quản l&yacute; cấp cao 3 năm trong v&ograve;ng 5 năm gần nhất</td>
			<td class="colum-2">Chủ doanh nghiệp 3 năm trong v&ograve;ng 5 năm gần nhất <br />Hoặc Quản l&yacute; cấp cao 3 năm trong v&ograve;ng 5 năm gần nhất</td>
			<td class="colum-3">Quản l&yacute; cấp cao 2 năm trong v&ograve;ng 5 năm gần nhất</td>
			<td class="colum-4">Chuy&ecirc;n m&ocirc;n c&aacute;c ng&agrave;nh ph&aacute;t triển <br />**đặc biệt ng&agrave;nh c&ocirc;ng nghệ cao**</td>
			<td class="colum-5">Quản l&yacute; hoặc chủ doanh nghiệp 3 năm trong v&ograve;ng 10 năm qua</td>
		</tr>
	</tbody>
</table>