<div class="topic-body-canada eb5 fs12em">
	<div id="eb5lagi" class="container mt40 mb40">
		<div class="introduce-canada-row1">
			<div class="row flex_center">
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
					<div class="introduce_main">
						<h3 class="color-367a3d text-uppercase">Đầu tư định cư EB-5 Mỹ&nbsp;</h3>
						<p style="text-align: justify;"><strong>&ldquo;EB-5 l&agrave; viết tắt của Employment Base Fifth, được giới thiệu v&agrave;o năm 1990, đến nay l&agrave; một trong những chương tr&igrave;nh hiệu quả nhất cho c&aacute;c nh&agrave; đầu tư tr&ecirc;n th&eacute; giới c&oacute; được Thẻ Xanh v&agrave; sinh sống tại Mỹ. <br /><br /> Để đạt điều kiện chương tr&igrave;nh, c&aacute;c doanh nh&acirc;n phải đầu tư v&agrave;o một dự &aacute;n kinh doanh nằm trong khu vực c&oacute; tỷ lệ thất nghiệp cao, được quản l&yacute; bởi Trung T&acirc;m V&ugrave;ng (Regional Center) với khoản đầu tư $500,000 USD. Sau 5 năm khi đ&aacute;p ứng đủ c&aacute;c y&ecirc;u cầu tạo việc l&agrave;m, vốn đầu tư sẽ được ho&agrave;n trả theo h&igrave;nh thức tiền mặt, hoặc cổ phiếu.&rdquo;</strong></p>
					</div>
				</div>
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
					<div class="bg_before"><img src="/public/uploads/Category/My_dinhcukobaolanh.png" alt="" width="100%" /></div>
				</div>
			</div>
		</div>
	</div>
	<div id="loiich" class="benefit mt40" style="background-image: url('/public/uploads/Category/My_loiich.jpg');">
		<div class="container">
			<h1 class="color_fff text-center mb40 pela fs25px"><strong>LỢI &Iacute;CH</strong></h1>
			<div class="row flex_wrap">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/language.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">Ngoại ngữ</h4>
								<p class="color_fff">Kh&ocirc;ng y&ecirc;u cầu ngoại ngữ</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/student.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">Độ tuổi</h4>
								<p class="color_fff">Kh&ocirc;ng giới hạn tuổi t&aacute;c</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/manager.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">Kinh nghiệm</h4>
								<p class="color_fff">Kh&ocirc;ng y&ecirc;u cầu kinh nghiệm quản l&yacute; / kinh doanh</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/stopwatch.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">Thời gian c&oacute; thẻ Xanh</h4>
								<p class="color_fff">Thời gian để c&oacute; được Thẻ Xanh c&oacute; điều kiện khoảng 18 &ndash; 24 th&aacute;ng</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/check.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">Chấp nhận t&agrave;i sản cho tặng</h4>
								<p class="color_fff">&iacute;t nhất 6 th&aacute;ng kể từ ng&agrave;y nộp đơn</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="condition_item mb10">
						<div class="media_condition"><a class="condition_item_images" href="#"> <img class="media-object" src="/public/uploads/Category/home.png" alt="Image" width="100%" /> </a>
							<div class="media-body">
								<h4 class="media-heading color_fff">C&oacute; thể định cư ở bất cứ đ&acirc;u tại Mỹ</h4>
								<p class="color_fff">&nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="dieukien" class="topic-body-row2 pt40 pb40">
		<div class="container">
			<h1 class="color-367a3d text-center mb40 fs25px"><strong>ĐIỀU KIỆN</strong></h1>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row flex_center">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb20">
							<div class="mvs" style="background-image: url('/public/uploads/Category/My_dautu.jpg');">
								<div class="mvs_inner">
									<div class="title-header text-center">
										<h3 class="mb20  color_fff text-uppercase">Đầu tư $500,000 USD</h3>
									</div>
									<p class="text-center color_fff">Đầu tư $500,000 USD v&agrave;o dự &aacute;n của Trung T&acirc;m V&ugrave;ng</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb20">
							<div class="mvs" style="background-image: url('/public/uploads/Category/My_chungminhnguontien.jpg');">
								<div class="mvs_inner">
									<div class="title-header text-center">
										<h3 class="mb20  color_fff text-uppercase">Chứng minh nguồn tiền</h3>
									</div>
									<p class="text-center color_fff">Khoản đầu tư phải c&oacute; nguồn gốc hợp ph&aacute;p&nbsp;&nbsp;</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb20">
							<div class="mvs" style="background-image: url('/public/uploads/Category/My_chungminhdautu.jpg');">
								<div class="mvs_inner">
									<div class="title-header text-center">
										<h3 class="mb20  color_fff text-uppercase">đầu tư hiệu quả</h3>
									</div>
									<p class="text-center color_fff">Việc đầu tư phải tạo ra 10 việc l&agrave;m to&agrave;n thời gian cho người lao động Mỹ</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="quytrinh" class="bg-f3f3f3 mt40 pt40 pb40">
		<div class="container">
			<div>
				<h1 class="color-367a3d text-center mb40 fs25px"><strong>QUY TR&Igrave;NH NỘP HỒ SƠ EB-5</strong></h1>
			</div>
			<div class="timeline">
				<div class="hidden-xs hidden-sm timeline_item_right_cong">&nbsp;</div>
				<div class="hidden-xs hidden-sm timeline_item_right_congbottom">&nbsp;</div>
				<ul class="timeline_item pl0">
					<li>
						<div class="status">
							<div class="status_boder">&nbsp;</div>
							<span class="number">1</span></div>
							<div class="title">
								<div class="inner_title text-center">1 - 2 Tuần</div>
							</div>
							<div class="detail">
								<p class="title_inner">Đ&aacute;nh gi&aacute; hồ sơ</p>
								<div class="pl10">
									<p class="mb0">Hồ sơ được đ&aacute;nh gi&aacute; bởi Luật Sư</p>
								</div>
							</div>
						</li>
						<li>
							<div class="status">
								<div class="status_boder">&nbsp;</div>
								<span class="number">2</span></div>
								<div class="title">
									<div class="inner_title text-center">1 -2 Th&aacute;ng</div>
								</div>
								<div class="detail">
									<p class="title_inner">Khởi động hồ sơ</p>
									<div class="pl10">
										<p class="mb0">1. K&yacute; hợp đồng v&agrave; tạo hồ sơ EB-5</p>
										<p class="mb0">2. Chuyển khoản đầu tư v&agrave;o t&agrave;i khoản Uỷ Th&aacute;c</p>
									</div>
								</div>
							</li>
							<li>
								<div class="status">
									<div class="status_boder">&nbsp;</div>
									<span class="number">3</span></div>
									<div class="title">
										<div class="inner_title text-center">15 - 18 Th&aacute;ng</div>
									</div>
									<div class="detail">
										<p class="title_inner">Nộp đơn I-526 Đến USCIS ( Bộ di tr&uacute; Mỹ )</p>
									</div>
								</li>
							</ul>
							<ul class="timeline_item timeline_item_right  pl0">
								<li>
									<div class="status">
										<div class="status_boder">&nbsp;</div>
										<span class="number">4</span></div>
										<div class="title">
											<div class="inner_title text-center">3 Th&aacute;ng</div>
										</div>
										<div class="detail">
											<p class="title_inner">Nhận thư chấp nhận đơn I-526</p>
											<div class="pl10">
												<p class="mb0">Hồ sơ được chuyển đến Trung T&acirc;m Thị Thực Mỹ (National Visa Center)</p>
											</div>
										</div>
									</li>
									<li>
										<div class="status">
											<div class="status_boder">&nbsp;</div>
											<span class="number">5</span></div>
											<div class="title">
												<div class="inner_title text-center">3 Th&aacute;ng</div>
											</div>
											<div class="detail">
												<p class="title_inner">Hồ sơ được chuyển về L&atilde;nh Sự Qu&aacute;n Mỹ tại Việt Nam</p>
												<div class="pl10">
													<p class="mb0">Nhận thư mời phỏng vấn</p>
												</div>
											</div>
										</li>
										<li>
											<div class="status">
												<div class="status_boder">&nbsp;</div>
												<span class="number">6</span></div>
												<div class="title">
													<div class="inner_title text-center">21 th&aacute;ng&nbsp;</div>
												</div>
												<div class="detail">
													<p class="title_inner">Được cấp Thị Thực Cư Tr&uacute;</p>
													<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Nhập cảnh đến Mỹ nhận Thẻ Xanh c&oacute; điều kiện</blockquote>
												</div>
											</li>
										</ul>
										<ul class="timeline_item pl0">
											<li class="timeline_item_bottom" style="width: 100%;">
												<div class="status">
													<div class="status_boder">&nbsp;</div>
													<span class="number">7</span></div>
													<div class="detail">
														<p class="title_inner">Nộp đơn I-829 để loại bỏ điều kiện</p>
														<blockquote style="margin: 0 0 0 40px; border: none; padding: 0px;">Được cấp Thẻ Xanh Vĩnh Viễn</blockquote>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>