
<div class="container mt40 mb40 ">
    <div class="introduce-canada-row1">
        <div class="row flex_center">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="introduce_main">
                    <h3 class="color-367a3d">GIỚI THIỆU CHUNG VỀ TỈNH BANG
                        <br>
                        <strong>NEW BRUNSWICK</strong>
                    </h3>
                    <p>
                        <strong>“ New Brunswick là một tỉnh bang song ngữ với khoảng 60% dân số nói tiếng Anh và 32%
                            nói tiếng Pháp. Có 3 thành phố đóng vai trò quan trọng bao gồm: Frederection, Saint
                            John, Moncton. New Brunswick tập trung phát triển kinh tế biển, lâm nghiệp và các
                            ngành dịch vụ (y tế, giáo dục, tài chính…). Nơi đây còn nổi tiếng bởi tập trung nhiều
                            trường đại học danh tiếng như University of New Brunswick, Saint Thomas University.
                            <br>
                            <br> Với những điều kiện sống lý tưởng bậc nhất, New Brunswick là mảnh đất màu mỡ, một
                            nơi lý tưởng để xây dựng cuộc sống tương lai cho gia đình bạn. ”</strong>
                    </p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
                <div class="bg_before">
                    <img src="/public/uploads/Category/canada.png" alt="canada" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="benefit mt40" style="background-image:url(/public/uploads/Category/canada-buc-tranh-mua-thu.jpg)">
    <div class="container">
        <h1 class="color_fff text-center mb40 pela fs25px">
            <strong>LỢI ÍCH</strong>
        </h1>
        <div class="row flex_wrap">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/money.png" width="100%" alt="">
                    </div>
                    <p class="title">KÝ QUỸ THẤP</p>
                    <p class="detail"></p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/content.png" width="100%" alt="">
                    </div>
                    <p class="title">THỤ LÝ NHANH</p>
                    <p class="detail">17-19 Tháng</p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/make-a-donation.png" width="100%" alt="">
                    </div>
                    <p class="title">CHẤP NHẬN TÀI SẢN CHO TẶNG</p>
                    <p class="detail"></p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/heart.png" width="100%" alt="">
                    </div>
                    <p class="title">HƯỞNG QUYỀN LỢI Y TẾ, GIÁO DỤC, PHÚC LỢI NHƯ NGƯỜI BẢN SỨ</p>
                    <p class="detail"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="condition mt40">
    <div class="container">
        <h1 class="color-367a3d text-center mb40 fs25px">
            <strong>ĐIỀU KIỆN</strong>
        </h1>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/piggy-bank.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Chứng minh tài sản </h4>
                            <p>Trên $600,000 CAD, trong đó $300,000 CAD là tài sản lưu động</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/language.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Ngoại ngữ</h4>
                            <p>Tối thiểu IELTS (general) 4.5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/manager.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Kinh nghiệm</h4>
                            <p>Tối thiểu 5 năm quản lý, hoặc 3 năm chủ doanh nghiệp</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/student.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Độ tuổi</h4>
                            <p>22-55</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/check.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Ký Quỹ</h4>
                            <p>$100,000 CAD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/statistics.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Đầu tư mở doanh nghiệp</h4>
                            <p>Tối thiểu $250,000 CAD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/graduation-hat-and-diploma.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Trình độ học vấn</h4>
                            <p>Tốt nghiệp cao đẳng</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/home.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Có ý định sinh sống tại New Brunswick</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-f3f3f3 mt40 pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px">
                <strong>QUY TRÌNH NỘP HỒ SƠ</strong>
            </h1>
            <div class="text-center"></div>
        </div>
        <div class="timeline">
            <div class="hidden-xs hidden-sm timeline_item_right_cong"></div>
            <div class="hidden-xs hidden-sm timeline_item_right_congbottom"></div>      
            <ul class="timeline_item pl0">
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">1</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">1 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Khởi động hồ sơ</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">2</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 Tuần</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nộp Expression of Interest (EOI)</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">3</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 - 3 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư mời ITA </p>
                    </div>
                </li>
            </ul>
                <ul class="timeline_item timeline_item_right  pl0">
                    <li>
                        <div class="status">
                            <div class="status_boder"></div>
                            <span class="number">4</span>
                        </div>
                        <div class="title">
                            <div class="inner_title text-center">3 - 4 Tháng</div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Nộp hồ sơ hoàn chỉnh</p>
                            <div class="pl10">
                                <p class="mb0">1. Khảo sát và phỏng vấn</p>
                                <p class="mb0">2. Ký quỹ $200,000 CAD cho Tỉnh Bang</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="status">
                            <div class="status_boder"></div>
                            <span class="number">5</span>
                        </div>
                        <div class="title">
                            <div class="inner_title text-center">3 - 6 Tháng</div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Nhận thư đề cử Tỉnh Bang</p>
                        </div>
                    </li>

                    <li>
                        <div class="status">
                            <div class="status_boder"></div>
                            <span class="number">6</span>
                        </div>
                        <div class="title">
                            <div class="inner_title text-center">8 - 10 Tháng</div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Nộp hồ sơ lên Liên Bang</p>
                        </div>
                    </li>

                </ul>
            <ul class="timeline_item pl0">  
                <li class="timeline_item_bottom">
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">7</span>
                    </div>
                    <div class="title">
                        <div class="inner_title"></div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Visa để có thẻ thường trú nhân</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px">
                <strong>CUỘC SỐNG TẠI NEW BRUNSWICK</strong>
            </h1>
        </div>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEdu.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>GIÁO DỤC</strong>
                                </h3>
                                <p>Chương trình giáo dục song ngữ (tiếng Anh và tiếng Pháp) cơ sở hạ tầng và chất
                                    lượng giảng dạy đạt tiêu chuẩn cao</p>
                                <p>Các trường đại học danh tiếng được Thế giới công nhận, bao gồm University of
                                    NB, Saint Thomas University, được xếp vào top 10 các trường đại học danh
                                    tiếng của Canada</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconMedical.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>Y TẾ</strong>
                                </h3>
                                <p>Chăm sóc y tế miễn phí, bao gồm khám bệnh và xét nghiệm, phẫu thuật, thuốc men,
                                    ...Chính phủ chi trả $52tỷ CAD mỗi năm cho y tế, và $1.800CAD cho mỗi công
                                    dân</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconfinance.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>THỊ TRƯỜNG KINH DOANH</strong>
                                </h3>
                                <p>Nổi tiếng với mạng lưới trung chuyển tàu thuyền tầm cỡ thế giới.</p>
                                <p>Là thủ đô tôm hùm của thể giới, các ngành lâm nghiệp, nông hải sản cũng rất phát
                                    triển. Ngoài ra ngành công nghệ cao rất được thu hút tại đây</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEnviroment.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>MÔI TRƯỜNG SỐNG</strong>
                                </h3>
                                <p>Nơi đây có bốn mùa, khí hậu ôn hoà, nổi tiếng với các phong cảnh thiên nhiên
                                    tuyệt đẹp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
