
<div class="container mt40 mb40">
    <div class="introduce-canada-row1">
        <div class="row flex_center">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="introduce_main">
                    <h3 class="color-367a3d">GIỚI THIỆU CHUNG VỀ TỈNH BANG
                        <br>
                        <strong>QUÉBEC</strong>
                    </h3>
                    <p>
                        <strong>“ Québec là tỉnh bang có vai trò quan trọng trong việc thiết lập nền văn hóa Canada.
                            Tại đây tiếng Pháp được xem là ngôn ngữ chính, Québec còn được đánh giá là nơi an
                            toàn bậc nhất trên đất nước Canada. Mức thu nhập bình quân đầu người tại đây khoảng
                            70.000 CAD/năm, nơi đây có mức phí sinh hoạt khá thấp so với những vùng khác, đặc
                            biệt là giá nhà ở. Tỉnh bang có nền thương mại và công nghệ hiện đại phát triển năng
                            động.
                            <br>
                            <br>Xét về khía cạnh đời sống và kinh tế thì tỉnh bang Québec là một nơi lý tưởng để
                            sinh sống, đầu tư và làm việc của rất nhiều doanh nhân thành công trên khắp thế giới.”</strong>
                    </p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
                <div class="bg_before">
                    <img src="/public/uploads/Category/canada.png" alt="canada" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="benefit mt40" style="background-image:url(/public/uploads/Category/canada-buc-tranh-mua-thu.jpg)">
    <div class="container">
        <h1 class="color_fff text-center mb40 pela fs25px">
            <strong>LỢI ÍCH</strong>
        </h1>
        <div class="row flex_wrap">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/translator.png" width="100%" alt="">
                    </div>
                    <p class="title">KHÔNG YÊU CẦU NGOẠI NGỮ</p>
                    <p class="detail"></p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/make-a-donation.png" width="100%" alt="">
                    </div>
                    <p class="title">CHẤP NHẬN TÀI SẢN CHO TẶNG</p>
                    <p class="detail"></p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/content.png" width="100%" alt="">
                    </div>
                    <p class="title">ĐỘ TUỔI NỘP ĐƠN LÊN ĐẾN 65 TUỔI</p>
                    <p class="detail"></p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="benefit_item">
                    <div class="benefit_item_images">
                        <img src="/public/uploads/Category/money.png" width="100%" alt="">
                    </div>
                    <p class="title">KHÔNG KÝ QUỸ</p>
                    <p class="detail"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="condition mt40">
    <div class="container">
        <h1 class="color-367a3d text-center mb40 fs25px">
            <strong>ĐIỀU KIỆN</strong>
        </h1>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/piggy-bank.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Chứng minh tài sản </h4>
                            <p>trên $1,600,000 CAD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/manager.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Kinh nghiệm</h4>
                            <p>tối thiểu 2 năm quản lý</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/student.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Độ tuổi</h4>
                            <p>22-65</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/statistics.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Đầu tư</h4>
                            <p>1. $220,000 CAD cho tổ chức tài chính
                                <br> 2. $800,000 CAD mua trái phiếu chính phủ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/graduation-hat-and-diploma.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Trình độ học vấn</h4>
                            <p>Tốt nghiệp cấp 3</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="condition_item mb10">
                    <div class="media_condition">
                        <a class="condition_item_images" href="#">
                            <span>
                                <img class="media-object" src="/public/uploads/Category/home.png" width="100%" alt="Image">
                            </span>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Có ý định sinh sống tại Québec</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-f3f3f3 mt40 pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px">
                <strong>QUY TRÌNH NỘP HỒ SƠ</strong>
            </h1>
        </div>
        <div class="timeline">
            <div class="hidden-xs hidden-sm timeline_item_right_cong"></div>
            <div class="hidden-xs hidden-sm timeline_item_right_congbottom"></div>  
            <ul class="timeline_item pl0">
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">1</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">1 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Khởi động hồ sơ</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">2</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 Tuần</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nộp hồ sơ lên Tỉnh Bang</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">3</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">12 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Hồ sơ có File number </p>
                    </div>
                </li>
            </ul>   
            <ul class="timeline_item timeline_item_right  pl0">
                
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">4</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">110 Ngày</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư chấp nhận đầu tư </p>
                        <div class="pl10">
                            <p class="mb0">1. Chuyển tiền đầu tư
                                <br> $220,000 - $240,000 CAD vào Quỹ</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">5</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">1 - 3 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư đề cử Tỉnh Bang</p>
                    </div>
                    <li>
                        <div class="status">
                            <div class="status_boder"></div>
                            <span class="number">6</span>
                        </div>
                        <div class="title">
                            <div class="inner_title text-center">12 - 24 Tháng</div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Nộp hồ sơ lên Liên Bang</p>
                        </div>
                    </li>
            </ul>
            <ul class="timeline_item pl0">
                <li style="width:100%" class="timeline_item_bottom">
                    <div class="status">
                        <div class="status_boder"></div>
                        <span class="number">7</span>
                    </div>
                    <div class="title">
                        <div class="inner_title"></div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Visa để có thẻ thường trú nhân</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px">
                <strong>CUỘC SỐNG TẠI QUÉBEC</strong>
            </h1>
        </div>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEdu.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>GIÁO DỤC</strong>
                                </h3>
                                <p>Quebéc là một trong những đại diện suất sắc của nền giáo dục Canada. Các trường
                                    đại học như McGill, Montreal, luôn nằm trong top những trường đại học hàng
                                    đầu của Canada và toàn Thế giới.</p>
                                <p>Tiếng Pháp là ngôn ngữ chính nên trẻ em nhập cư đến Quebec thường được yêu cầu
                                    tham dự một trường học của địa phương của hội đồng quản trị Pháp cho đến
                                    khi kết thúc việc học trung học.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconMedical.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>Y TẾ</strong>
                                </h3>
                                <p>Bảo hiểm chăm sóc sức khỏe và y tế là một phần trong chương trình bảo hiểm sức
                                    khỏe toàn cầu do Cơ quan bảo hiểm y tế công cộng Québec (RAMQ) phối hợp cùng
                                    chương trình bảo hiểm bệnh viện Québec quản lý. Tất cả cư dân sống tại Québec
                                    đều có quyền tham gia chương trình và đăng ký thẻ bảo hiểm tại RAMQ. Chương
                                    trình sẽ chi trả toàn bộ chi phí chăm sóc y tế cần thiết cho người dân.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconfinance.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>THỊ TRƯỜNG KINH DOANH</strong>
                                </h3>
                                <p>
                                    <em>Québec có nhiều lợi thế thúc đẩy kinh tế tăng trưởng như:</em>
                                </p>
                                <p>• Tài nguyên thiên nhiên phong phú; Chi phí sản xuất máy thủy điện tương đối
                                    thấp;Vị trí địa lý chiến lược; Trình độ học vấn và lực lượng lao động có
                                    tay nghề cao; Công nghệ tiên tiến phát triển; Tiềm năng xuất khẩu sản phẩm
                                    trên toàn thế giới.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEnviroment.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px">
                                    <strong>MÔI TRƯỜNG SỐNG</strong>
                                </h3>
                                <p>Thu nhập trung bình của một gia đình tại Quebec khoảng $70,000 CAD/ năm. Tuy
                                    nhiên, phí sinh hoạt ở đây rẻ hơn so với các vùng khác ở Canada, đặc biệt
                                    là về nhà ở. Thành phố Montreal luôn được đánh giá là một trong những thành
                                    phố đáng sống nhất ở Bắc mỹ.</p>
                                <p>Quebec trở thành nơi thu hút dân nhập cư nhiều nhất Canada vì mức độ an toàn
                                    trong xã hội, tỷ lệ các vụ giết người thấp hơn 4 lần so với Mỹ và thấp hơn
                                    2 lần so với Phần Lan. Ngoài ra, Montréal và thành phố Québec thuộc các trung
                                    tâm đô thị an toàn nhất ở Canada </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        