
<div class="container mt40 mb40">
    <div class="introduce-canada-row1">
        <div class="row flex_center">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="introduce_main">
                    <h3 class="color-367a3d">GIỚI THIỆU CHUNG VỀ TỈNH BANG <br><strong>SASKATCHEWAN</strong></h3>
                    <p><strong>“ Saskatchewan là một trong những tỉnh bang thuộc miền tây của Canada, Saskatchewan được biết đến với các cánh đồng lúa mì bạt ngàn và cũng là nơi tập chung nhiều khoáng sản nhất tại đất nước này. <br><br>Tỉnh bang Saskatchewan có tỉ lệ thất nghiệp thấp nhất Canada, thu nhập bình quân đầu người tại đây khoảng 80.000 CAD/năm, cao hơn so với mặt bằng chung. Ngoài ra, chi phí nhà ở tại tỉnh bang này cũng nằm trong top thấp nhất tại đất nước lá phong. Saskatchewan là nơi thích hợp để di cư, xây dựng doanh nghiệp và bắt đầu một cuộc sống mới. ”</strong></p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
                <div class="bg_before">
                <img src="/public/uploads/Category/canada.png" alt="canada" width="100%"></div>
            </div>
        </div>
    </div>
</div>
<div class="benefit mt40" style="background-image:url(/public/uploads/Category/canada-buc-tranh-mua-thu.jpg)">
    <div class="container">
            <h1 class="color_fff text-center mb40 pela fs25px"><strong>LỢI ÍCH</strong></h1>
        <div class="row flex_wrap">
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/id-card.png"  width="100%" alt="">
                        </div>
                        <p class="title">THỤ LÝ NHANH</p>
                        <p class="detail">dưới 12 tháng để được cấp giấy phép làm việc</p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/bars.png"  width="100%" alt="">
                        </div>
                        <p class="title">CƠ HỘI KINH DOANH TIỂM NĂNG</p>
                        <p class="detail"></p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/presentation.png"  width="100%" alt="">
                        </div>
                        <p class="title">THỜI HẠN KINH DOANH NGẮN</p>
                        <p class="detail">sau 6 tháng kinh doanh có thể nộp đơn đề cử Tỉnh Bang</p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/money.png"  width="100%" alt="">
                        </div>
                        <p class="title">KHÔNG KÝ QUỸ</p>
                        <p class="detail"></p>
                    </div>
                </div>
                                </div>
    </div>
</div>
<div class="condition mt40">
    <div class="container">
        <h1 class="color-367a3d text-center mb40 fs25px"><strong>ĐIỀU KIỆN</strong></h1>
        <div class="row flex_wrap">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/piggy-bank.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Chứng minh tài sản </h4>
                                <p>Trên $1,000,000 CAD</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/manager.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Kinh nghiệm</h4>
                                <p>Tối thiểu 3 năm</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/student.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Độ tuổi</h4>
                                <p>22-55</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/statistics.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Đầu tư mở doanh nghiệp</h4>
                                <p>Tối thiểu $500,000 CAD</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/graduation-hat-and-diploma.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Trình độ học vấn</h4>
                                <p>Tốt nghiệp cấp 3</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/home.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Có ý định sinh sống tại Saskatchewan </h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
    </div>
</div>
<div class="bg-f3f3f3 mt40 pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 font_sans-serif fs25px">
                <strong>QUY TR&Igrave;NH NỘP HỒ SƠ</strong>
            </h1>
            <!-- <div class="text-center"> <img src="/public/uploads/Category/qtrnophspei.png" alt="" width="100%"></div> --></div>
        <div class="timeline">
            <div class="hidden-xs hidden-sm timeline_item_right_cong">&nbsp;</div>
            <div class="hidden-xs hidden-sm timeline_item_right_congbottom">&nbsp;</div>
            <ul class="timeline_item  pl0">
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">1</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Khởi động hồ sơ</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">2</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">1 - 3 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nộp Expression of Interest (EOI)</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">3</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">6 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư mời ISA</p>
                    </div>
                </li>
            </ul>
            <ul class="timeline_item timeline_item_right  pl0">
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">4</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">6 - 8 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận giấy phép làm việc Work Permit</p>
                        <div class="pl10">
                            <p class="mb0">Đến SASKATCHEWAN và bắt đầu mở doanh nghiệp</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">5</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 - 3 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư đề cử Tỉnh Bang</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">6</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">8 - 10 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nộp hồ sơ lên Liên Bang</p>
                    </div>
                </li>
                
            </ul>
            <ul class="timeline_item pl0">
                <li style="width: 100%;" class="timeline_item_bottom">
                    <div class="status">
                        <div class="status_boder">&nbsp;</div>
                        <span class="number">7</span>
                    </div>
                    <div class="title">&nbsp;</div>
                    <div class="detail">
                        <p class="title_inner">Visa để có thẻ thường trú nhân</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px"><strong>CUỘC SỐNG TẠI SASKATCHEWAN</strong></h1>
        </div>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEdu.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px"><strong>GIÁO DỤC</strong></h3>
                                <p>Saskatchewan cung cấp một hệ thống giáo dục phát triển, không thua kém bất kì tỉnh bang nào tại Canada, hệ thống giáo dục miễn phí từ mẫu giáo đến lớp 12 thông qua hệ thống trường công của tỉnh bang.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconMedical.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px"><strong>Y TẾ</strong></h3>
                                <p>Tỉnh bang này có truyền thống tổ chức các chương trình y tế hỗ trợ xã hội do chính phủ tài trợ, người sáng lập chương trình chính là Thủ tướng của Saskatchewan, Ngài Tommy Douglas, đây cũng là cha đẻ của chính sách miễn phí y tế tại đất nước này.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconfinance.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px"><strong>THỊ TRƯỜNG KINH DOANH</strong></h3>
                                <p>Saskatchewan có chung biên giới với tỉnh bang Manitoba, Alberta, và Northwets, Mỹ. Điều này khiến cho việc giao thông lẫn giao thương của tỉnh bang này phát triển và nhộn nhịp, là nơi thích hợp để di cư, xây dựng doanh nghiệp và bắt đầu một cuộc sống mới</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="lifein mb20">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <span class="icon_lifein">
                                <img src="/public/uploads/Category/iconEnviroment.png" width="100%" alt="">
                            </span>
                        </a>
                        <div class="media-body">
                            <div class="introduce-canada-row1">
                                <h3 class="mt0 fs20px"><strong>MÔI TRƯỜNG SỐNG</strong></h3>
                                <p>Tỉnh bang Saskatchewan là nơi có tỉ lệ thất nghiệp thấp nhất Canada, thu nhập bình quân đầu người khoảng 80.000CAD, nguyên nhân là do các nguồn tài nguyên thiên nhiên ở đây phong phú, giảm thiểu được các chi phí về năng lượngs</p>
                                <p>Ngoài ra, chi phí nhà ở tại tỉnh bang này, cũng nằm trong top thấp nhất tại Canada </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		