
<div class="container">
    <div class="introduce-canada-row1">
        <div class="row flex_center">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="introduce_main">
                    <h3 class="color-367a3d">GIỚI THIỆU CHUNG CHƯƠNG TRÌNH <br>ĐỊNH CƯ KHỞI NGHIỆP  <strong>START-UP VISA</strong></h3>
                    <p><strong>“ Ra đời vào năm 2013, chương trình Thị thực visa khởi nghiệp được chính phủ Canada đưa vào hoạt động nhằm mục đích kêu gọi các doanh nhân có kỹ năng và ý tưởng kinh doanh đến đây xây dựng doanh nghiệp và lập nghiệp. <br><br>Với khẩu hiệu “Canada cần thêm doanh nhân”, chính phủ Canada hy vọng các dự án khởi nghiệp sẽ xây dựng nên những “thung lũng Silicon” mới trên quốc gia này. Các đương đơn tham dự vào chương trình Start-up Visa, đều sẽ được bao lãnh gia đình mình sang Canada sinh sống, và hưởng mọi quyền lợi như một công dân Canada. ”</strong></p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
                <div class="bg_before">
                <img src="/public/uploads/Category/canada.png" alt="canada" width="100%"></div>
            </div>
        </div>
    </div>
</div>
<div class="benefit mt40" style="background-image:url(/public/uploads/Category/canada-buc-tranh-mua-thu.jpg)">
    <div class="container">
        <h1 class="color_fff text-center mb40 pela fs25px"><strong>LỢI ÍCH</strong></h1>
        <div class="row flex_wrap">
                                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/id-card.png"  width="100%" alt="">
                        </div>
                        <p class="title">THỤ LÝ NHANH</p>
                        <p class="detail">trung bình 14-16 tháng</p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/dollar-sign-and-piles-of-coins.png"  width="100%" alt="">
                        </div>
                        <p class="title">KHÔNG PHẢI CHỨNG MINH TÀI CHÍNH</p>
                        <p class="detail"></p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/group.png"  width="100%" alt="">
                        </div>
                        <p class="title">KHÔNG YÊU CẦU KINH NGHIỆM QUẢN LÝ </p>
                        <p class="detail"></p>
                    </div>
                </div>
                                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="benefit_item">
                        <div class="benefit_item_images">
                            <img src="/public/uploads/Category/cityscape.png"  width="100%" alt="">
                        </div>
                        <p class="title">ĐƯỢC SỐNG Ở BẤT CỨ THÀNH PHỐ NÀO TẠI CANADA</p>
                        <p class="detail"></p>
                    </div>
                </div>
                                </div>
    </div>
</div>
<div class="condition mt40">
    <div class="container">
        <h1 class="color-367a3d text-center mb40 fs25px"><strong>ĐIỀU KIỆN</strong></h1>
        <div class="row flex_wrap">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/language.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Ngoại ngữ</h4>
                                <p>IELTS general 5.0</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/manager.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Kinh nghiệm</h4>
                                <p>Các ngành chuyên môn, đặc biệt ngành IT</p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/idea.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Ý tưởng kinh doanh sáng tạo</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="condition_item mb10">
                        <div class="media_condition">
                            <a class="condition_item_images" href="#">
                                <span >
                                    <img class="media-object" src="/public/uploads/Category/check.png" width="100%" alt="Image">
                                </span>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Được Quỹ chỉ định chấp thuận</h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                                </div>
    </div>
</div>
<div class="bg-f3f3f3 mt40 pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d text-center mb40 fs25px"><strong>QUY TRÌNH NỘP HỒ SƠ</strong></h1>
            <!-- <div class="text-center"> <img src="/public/uploads/Category/qtrnophspei.png" alt="" width="100%"></div> -->
        </div>
        <div class="timeline">
            <ul class="timeline_item pl0">
                <li>
                    <div class="status">
                        <div class="status_boder"></div><span class="number">1</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center"> 2 - 4 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Khởi động hồ sơ</p>
                    </div>
                </li>
                <li>
                    <div class="status">
                        <div class="status_boder"></div><span class="number">2</span>
                    </div>
                    <div class="title">
                        <div class="inner_title text-center">2 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nộp hồ sơ lên Quỹ</p>
                    </div>
                </li>
                <li>
                    <div class="status"><div class="status_boder"></div><span class="number">3</span></div>
                    <div class="title">
                        <div class="inner_title text-center">1 Tháng</div>
                    </div>
                    <div class="detail">
                        <p class="title_inner">Nhận thư chấp thuận từ Quỹ</p>
                    </div>
                </li>
                <ul class="timeline_item timeline_item_right  pl0 ">
                    <div class="hidden-xs hidden-sm timeline_item_right_cong hidden-xs "></div>
                    <li>
                        <div class="status"><div class="status_boder"></div><span class="number">4</span></div>
                        <div class="title">
                            <div class="inner_title text-center">6 - 8 Tháng</div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Nộp hồ sơ lên Liên Bang</p>
                            <div class="pl10">
                                <p class="mb0">&nbsp</p>
                                <p class="mb0">&nbsp</p>
                            </div>
                        </div>
                    </li>
                    <li class="bg-transparent">
                        <div class="status"><div class="status_boder"></div><span class="number">5</span></div>
                        <div class="title">
                            <div class="inner_title"></div>
                        </div>
                        <div class="detail">
                            <p class="title_inner">Visa để có thẻ thường trú nhân</p>
                        </div>
                    </li>
                </ul>
                
            </ul>
        </div>
    </div>
</div>
<div class="pt40 pb40">
    <div class="container">
        <div>
            <h1 class="color-367a3d fs20px"><strong>Điểm mạnh chương trình START-UP VISA của Maple Leaf Vietnam</strong></h1>
        </div>
        <div>
            <ul>
                <li>Phù hợp với nhà đầu tư có ý định sang Canada trong thời gian ngắn</li>
                <li>Có giấy phép đi làm (work pemit) 30 ngày sau khi liên bang chấp nhận hồ sơ</li>
                <li>Không cần viết kế hoạch kinh doanh</li>
                <li>Tài sản chứng mình thấp</li>
                <li>Các đương đơn có thể sinh sống ở mọi nơi trên đất nước Canada, không cần phụ thuộc vào tỉnh bang</li>
                <li>Được thị thực vĩnh viễn cho gia đình và đương đơn cho dù start up có thành công hay không</li>
            </ul>
        </div>
        <div>
            <h1 class="color-367a3d fs20px"><strong>Thiết lập ý tưởng khởi nghiệp và tạo dựng chiến lược kinh doanh</strong></h1>
        </div>
        <div>
            <p>Ý tưởng khởi nghiệp phải đạt được các những tiêu chí nhất định của liên bang, nghĩa là khả năng áp dụng các công nghệ cao vào ý tưởng. Với đội ngũ giàu kinh nghiệm hơn 10 năm trong thị trường start up, chúng tôi đảm bảo sẽ hỗ trợ ứng viên tạo dựng ý tưởng kinh doanh phù hợp nhất </p>
            <p>Với tiêu chí luôn cung cấp đến khách hàng những dịch vụ di trú định cư tốt nhất, Công ty Maple Leaf Vietnam hi vọng sẽ có cơ hội được đồng hành và chấp cánh giấc vơ di trú cho toàn thể doanh nhân Việt.</p>
        </div>
    </div>
</div>
		