<div class="container mt40 mb40">
    <div class="introduce-canada-row1">
        <div class="row flex_center">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="introduce_main">
                    <h3 class="color-367a3d text-uppercase">The Spiral - Biểu tượng tương lai của New York</h3>
                    <p>
                        <strong>&ldquo; Dự &aacute;n cao ốc hạng sang được thiết kế độc đ&aacute;o với khu&ocirc;n vi&ecirc;n c&acirc;y
                            xanh bao quanh to&agrave; nh&agrave;. The Spiral cao 65 tầng toạ lạc ngay trung t&acirc;m New
                            York g&acirc;y nhiều ch&uacute; &yacute; của c&aacute;c nh&agrave; đầu tư bởi &yacute; tưởng
                            độc đ&aacute;o v&agrave; t&aacute;o bạo của tập đo&agrave;n kiến tr&uacute;c lừng danh Bjarke
                            Ingels. &rdquo;</strong>
                    </p>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 hidden-xs hidden-sm">
                <div class="bg_before">
                    <img src="/public/uploads/Category/01_Exterior_Terrace_Wrap.jpg" alt="" width="100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="benefit investment mt40" style="background-image: url('/public/uploads/Category/My_loiich.jpg');">
    <div class="container">
        <h1 class="color_fff text-center mb40 pela fs25px text-uppercase">
            <strong>Đầu tư an to&agrave;n</strong>
        </h1>
        <div class="row flex_wrap">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb10">
                <div class="sub_finance">
                    <div class="title-header text-left">
                        <h3 class="mb20 fs20px text-uppercase">Tổng quan t&agrave;i ch&iacute;nh</h3>
                    </div>
                    <div class="sub_finance_item">
                        <ul class="">
                            <li class="mt10">Tổng chi ph&iacute;:
                                <strong>$3.64 tỷ USD</strong>
                            </li>
                            <li class="mt10">Vay EB-5:
                                <strong>$250 triệu USD</strong>
                            </li>
                            <li class="mt10">Tỷ lệ đầu tư:
                                <strong>7 %</strong>
                            </li>
                            <li class="mt10">Việc l&agrave;m theo b&aacute;o c&aacute;o kinh tế:
                                <strong>
                                    <br />12.727 Việc l&agrave;m (vượt 150%)</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row flex_wrap">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/city-hall.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Đ&atilde; được Sở Di Tr&uacute; Mỹ ph&ecirc; duyệt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/graduated-student.png" alt="Image"
                                        width="100%" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Vốn chủ đầu tư Tishman Speyer chiếm 50%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/classroom.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Chủ đầu tư sở hữu khu đất x&acirc;y dựng dự &aacute;n</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/bank.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Tỷ lệ vay EB-5 thấp: 7%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/locate-places-on-maps.png" alt="Image"
                                        width="100%" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Vị tr&iacute; trung t&acirc;m đắc địa: Manhattan tại New York</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/money-bag.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">T&agrave;i sản đảm bảo: 29% cho vay</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/bars.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading color_fff">&nbsp;</h4>
                                    <p class="color_fff">Dự kiến gi&aacute; trị sau khi ho&agrave;n th&agrave;nh $5.75 tỷ USD</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topic-body-row2 thespiral pt40 pb40">
    <div class="topic-body-item1 mb40">
        <div class="container">
            <h1 class="color-367a3d text-center mb40 pela fs25px text-uppercase">
                <strong>An to&agrave;n cho thẻ xanh</strong>
            </h1>
            <div class="body">
                <div class="row flex_wrap">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/classroom.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <p>Dự kiến tạo ra 25 việc l&agrave;m / nh&agrave; đầu tư (vượt 150% Ch&iacute;nh phủ y&ecirc;u
                                        cầu)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/user.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <p>32 dự &aacute;n th&agrave;nh c&ocirc;ng, đ&atilde; ho&agrave;n vốn 100% cho 1,743 nh&agrave;
                                        đầu tư
                                        <br />&amp;nbsp</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="condition_item mb10">
                            <div class="media_condition">
                                <a class="condition_item_images" href="#">
                                    <img class="media-object" src="/public/uploads/Category/id-card.png" alt="Image" width="100%"
                                    /> </a>
                                <div class="media-body">
                                    <p>Trung t&acirc;m v&ugrave;ng tr&ecirc;n 30 năm kinh nghiệm hỗ trợ hơn 6,000 nh&agrave;
                                        đầu tư nhận được Thẻ Xanh vĩnh viễn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topic-body-item3 pt40 pb40 bg-f3f3f3">
        <div class="container">
        	<div class="text-center">
        		<img src="/public/uploads/Category/CANAM_ENTERPRISE.png" alt="" width="100%" style=" max-width: 50%; width: 100%; margin: auto; text-align: center; "/>
        	</div>	
            <h1 class="color-367a3d text-center mb40 pela fs25px text-uppercase mb5">
                <strong>Trung t&acirc;m V&ugrave;ng CanAm Enterprise</strong>
            </h1>
            <div class="body">
                <ul class="pl0">
                    <li>Tr&ecirc;n 2000 hồ sơ được ph&ecirc; duyệt I-829</li>
                    <li>32 dự &aacute;n th&agrave;nh c&ocirc;ng, đ&atilde; ho&agrave;n vốn 100% cho 1,743 nh&agrave; đầu tư</li>
                    <li>Tr&ecirc;n 6000 người đ&atilde; nhận được Thẻ Xanh Vĩnh Viễn</li>
                    <li>1,743 nh&agrave; đầu tư được ho&agrave;n trả 100% vốn từ 32 dự &aacute;n trước, tổng đầu tư l&ecirc;n
                        đến871.5 triệu USD</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="topic-body-item2 pt25 pb40 pt40">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="/public/uploads/Category/logo-BIG.png" alt="" width="100%" />
                    <h3 class="mb20 fs20px color_fff">Tập đo&agrave;n Kiến Tr&uacute;c nổi tiếng (BIG)</h3>
                    <div class="body color_fff">
                        <ul>
                            <li>Đạt 26 giải thưởng kiến tr&uacute;c quốc tế</li>
                            <li>Ph&aacute;t triển th&agrave;nh c&ocirc;ng nhiều dự &aacute;n tr&ecirc;n khắp ch&acirc;u &Acirc;u,
                                Bắc Mỹ, Ch&acirc;u &Aacute; v&agrave; Trung đ&ocirc;ng</li>
                            <li>L&agrave; nh&agrave; thiết kế những to&agrave; nh&agrave; nổi tiếng như Chrysler Building tại
                                New York</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img class="media-object" src="/public/uploads/Category/TishmanSpeyer_logo-9.png" width="100%" />
                    <h3 class="mb20 fs20px color_fff">Nh&agrave; ph&aacute;t triển Tishman</h3>
                    <div class="body color_fff">
                        <ul>
                            <li>Một trong những tập đo&agrave;n hung mạnh với tr&ecirc;n 40 năm kinh nghiệm ph&aacute;t triển
                                dự &aacute;n tại 30 thị trường, 7 quốc gia, v&agrave; 4 lục địa</li>
                            <li>Trụ sở ch&iacute;nh tại trung t&acirc;m New York, với 18 văn ph&ograve;ng khu vực tr&ecirc;n
                                thế giới</li>
                            <li>Danh mục đầu tư BĐS trị gi&aacute; 86 tỷ USD</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project_location pt40 pb40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="/public/uploads/Category/base-20160115-1.png" alt="" width="100%" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="title-header">
                    <h3 class="mb20 color-367a3d">Vị tr&iacute; dự &aacute;n</h3>
                </div>
                <ul>
                    <li>Nằm c&aacute;ch 120m đến lối v&agrave;o khu&ocirc;n vi&ecirc;n trường đại học c&ocirc;ng lập San Jose</li>
                    <li>Trung t&acirc;m kinh tế v&agrave; h&agrave;nh ch&iacute;nh tại New York</li>
                    <li>Thủ đ&ocirc; văn ho&aacute;, t&agrave;i ch&iacute;nh, truyền th&ocirc;ng v&agrave; giải tr&iacute; tr&ecirc;n
                        thế giới v&agrave; khu bầu cử l&agrave; trụ sở của Li&ecirc;n Hợp Quốc</li>
                    <li>Thị trường chứng kho&aacute;n lớn nhất thế giới với tổng vốn h&oacute;a thị trường: Sở giao dịch chứng
                        kho&aacute;n New York v&agrave; NASDAQ</li>
                    <li>Trụ sở của nhiều tập đo&agrave;n truyền th&ocirc;ng đa quốc gia</li>
                </ul>
                <div>
                    <h4 class="fs20px">
                        <strong>
                            <em>Điểm nội bật</em>
                        </strong>
                    </h4>
                    <ul>
                        <li>V&agrave;i ph&uacute;t đi bộ đến khu&ocirc;n vi&ecirc;n trường</li>
                        <li>C&aacute;ch s&acirc;n trung t&acirc;m San Jose 5 ph&uacute;t l&aacute;i xe</li>
                        <li>C&aacute;ch Thung Lũng Silicon 16 ph&uacute;t l&aacute;i xe</li>
                        <li>C&aacute;ch khu phố Nhật 7 ph&uacute;t l&aacute;i xe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>